body{
	background: #FAFAFA;
}

.img-center {
	margin:0 auto;
}

.btn-primary{
	background-color: #3897f0;
	border-color: #3897f0;
}

.btn-login{
	width: 100%;
	font-weight: bold;
}

.painel-login{
	padding-top: 60px;
}

.home{
	padding-top: 30px;
}

.navbar-default{
	background: #fff;
}

.logo2{
	padding-left:50px;
}

.btn-incluir{
	padding-top: 25px;
}

#div_incluir{
	width:70%;
	position:absolute;
	top: 150px;
    left: 15%;
	z-index:9900;
}

#div_incluir panel{
	background: #FAFAFA;
}

.publicacao{
	border:solid 1px #EFEFEF;
	margin-bottom:50px;
	text-align: center;
	padding: 0.5rem;
}

.publicacao .titulo{
	padding:1rem;
	display:block;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.publicacao img{
	width: 100%;
	height: auto;
}

.comentar{
	text-align: left;
	padding:20px;
	background:#FFF;
}

.input_comentario{
	border: none;
	box-shadow: none;
	margin-bottom:10px;
}

.comentarios{
	text-align: left;	
	background:#FFF;
}

.txt_comentario{
	display: block;
	width:100%;
	padding:1rem;
}

.btn_remover_postagem{
	float: right;
	border: none;
	text-decoration: none;
	color: #da4040;
}